/* Global Styles */

* {
    margin: 0;
    padding: 0;
}

p {
  opacity: 90%;
}

ul {
    list-style: none;
}

/* Main Styles */

body {
    background-color: #ffffff;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 16px;
    line-height: 1.5;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #F5F5F5;
}

nav img {
    width: 0.9em;
    height: 0.9em;
    vertical-align: middle;
    margin-left: 0.1em;
}

nav p {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    margin: auto 0;
    font-size: 80%;
}

header {
  margin: 5vh 5vw;
  text-align: center;
  align-items: center;
}

header h1 {
  margin: 1rem;
}

header img {
  width: 0.9em;
  height: 0.9em;
  vertical-align: middle;
  margin-left: 0.1em;
}

/* Media Queries */

@media (min-width: 576px) {
    body {
      font-size: 18px;
    }
    header {
      margin: 5vh 10vw;
    }
}  

 @media (min-width: 768px) {
    body {
      font-size: 20px;
    }
}
  
@media (min-width: 992px) {
    body {
      font-size: 22px;
    }
}
  
  @media (min-width: 1200px) {
    body {
      font-size: 24px;
    }
}

/* 

This part is for dark mode later!

img {
  filter: invert(100%);
} 

*/