/* Global Styles */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

p {
  opacity: 90%;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

/* Nav Styles */

body {
  background-color: #FFFFFF;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 16px;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #EEEEEE;
}

nav img {
  width: 0.8em;
  height: 0.8em;
  vertical-align: middle;
  margin-left: 0.1em;
}

nav p {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1rem;
  margin: auto 0;
  font-size: 80%;
}

nav a {
  color: inherit;
}

/* Header Styles */

header {
  margin: 5vh 5vw;
  text-align: center;
  align-items: center;
}

header h1 {
  margin: 1rem;
}

header img {
  width: 0.8em;
  height: 0.8em;
  vertical-align: middle;
  margin-left: 0.1em;
}

/* Section Styles */

section {
  margin: 5vh 5vw;
}

section h2 {
  margin: 1rem 0;
}

section ul {
  list-style-type: disc;
  list-style-position: inside;
}

section li {
  padding-bottom: 0.5rem;
}

/* Notes Styles */

.notes {
  margin: 5vh 5vw;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #EEEEEE;
}

#notes {
  display: none;
  text-align: center;
}

#notesData {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 1rem;
  margin-top: 1rem;
}

#notesTitle {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
}

#notesTitleInput {
  height: 2rem;
}

#notesDate {
  grid-column: 3 / 4;
  grid-row: 1 / 1;
}

#notesDateInput {
  height: 2rem;
}

#notesText {
  grid-column: 1 / 4;
  grid-row: 2 / 2;
}

#notesTextInput {
  width: 100%;
  height: 5rem;
  resize: none;
}

#notesOptions {
  grid-column: 1 / 4;
  grid-row: 3 / 3;
}

#notesOptionsInput {
  height: 2rem;
}

/* Footer Styles */

footer {
  margin: 1rem 0;
  text-align: center;
  font-size: 70%;
}

/* Media Queries */

@media (min-width: 576px) {
  body {
    font-size: 18px;
  }
  
  header {
    margin: 5vh 10vw;
  }

  section {
    margin: 5vh 10vw;
  }

  .notes {
    margin: 5vh 10vw;
  }
} 

 @media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }
}

/* 

This part is for dark mode later!

img {
  filter: invert(100%);
} 

*/