/* Global Styles */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #FFFFFF;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 16px;
  line-height: 1.5;
}

p {
  opacity: 90%;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

/* Nav Styles */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #EEEEEE;
}

nav img {
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.1em;
}

nav p {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1rem;
  margin: auto 0;
  font-size: 80%;
}

nav ul img {
  margin-left: 0;
  margin-right: 0.2rem;
}

nav a {
  color: inherit;
}

nav a:hover {
  text-decoration: underline;
}

/* Header Styles */

header {
  margin: 5vh 5vw;
  text-align: center;
  align-items: center;
}

header h1 {
  margin: 1rem;
}

header img {
  width: 0.7em;
  height: 0.7em;
  margin-left: 0.1em;
}

/* Section Styles */

section {
  margin: 5vh 5vw;
}

section h2 {
  margin: 1rem 0;
}

section ul {
  list-style-type: disc;
  list-style-position: inside;
}

section li {
  padding-bottom: 0.5rem;
}

.inlineLogo {
  width: 1em;
  height: 1em;
}

/* Notes Styles */

.notesLogo {
  width: 0.8em;
  height: 0.8em;
  margin-right: 1rem
}

.notes {
  margin: 5vh 5vw;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #EEEEEE;
}

#notes {
  display: none;
  text-align: center;
}

#notesData {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem 0;
}

#notesTitle {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  justify-self: center;
}

#notesTitleInput {
  padding: 1rem;
  height: 2rem;
  border-radius: 0.5rem;
}

#notesDate {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  justify-self: center;
}

#notesDateInput {
  padding: 1rem;
  height: 2rem;
  border-radius: 0.5rem;
}

#notesText {
  grid-column: 1 / 1;
  grid-row: 3 / 3;
}

#notesTaskInput {
  padding: 1rem;
  width: 100%;
  height: 5rem;
  resize: none;
  border-radius: 0.5rem;
}

#notesOptions {
  grid-column: 1 / 1;
  grid-row: 4 / 4;
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-self: center;
}

#notesOptions button {
  padding: 0.5rem;
  background-color: #EEEEEE;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

#notesOptions button:hover {
  border: 2px solid black;
  background-color: #FFFFFF;
  cursor: pointer;
}

.notesHeading {
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #EEEEEE;
  width: fit-content;
}

.notesTitleAndDate {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.notesTask {
  margin: 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notesUpDownRemove {
  display: flex;
  padding-top: 1rem;
  justify-content: right;
  gap: 1rem;
}

.upButton, .downButton, .removeButton {
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.upButton:hover, .downButton:hover, .removeButton:hover {
  border: 2px solid black;
  background-color: #FFFFFF;
  cursor: pointer;
}

/* Footer Styles */

#user {
  display: none;
  line-height: 2;
  margin: 5vh 5vw;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #EEEEEE;
}

#usernameEdit {
  display: none;
}

#theme {
  margin-bottom: 2rem;
}

#time {
  margin-top: 4rem;
  text-align: center;
}

#quote {
  margin-top: 3rem;
  margin-bottom: 20vh;
  text-align: center;
}

#userButtons {
  margin-top: 2rem;
  text-align: center;
}

#userButtons button {
  padding: 0.5rem;
  border-radius: 0.4rem;
}

#userButtons button:hover, #usernameEditSubmit:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}

#usernameEditInput, #usernameEditSubmit {
  padding: 0.2rem;
  border-radius: 0.2rem;
}

footer {
  background-color: #EEEEEE;
  padding: 1rem 0;
  text-align: center;
  font-size: 70%;
}

/* Media Queries */

@media (min-width: 576px) {
  body {
    font-size: 18px;
  }
  
  header, section, .notes {
    margin: 5vh 10vw;
  }

  #notesTitle {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    justify-self: left;
  }

  #notesDate {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    justify-self: right;
  }

  #notesTask {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
  }
  
  #notesOptions {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    justify-self: right;
  }
} 

 @media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }
}

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}