img {
    filter: invert(100%);
}

body, div, section, button {
    background-color: #222222;
    color: #FFFFFF;
}

button {
    border: 0.1em white solid;
}

nav, footer, h3, .notes, .notesHeading, .notesTitleAndDate, #notesOptions button, #user, #usernameEdit, input, textarea {
    background-color: #000000;
}

#notesOptions button:hover {
    background-color: #222222;
    border: 0.1em white solid;
}

#userButtons button:hover {
    background-color: #000000;
}

input, textarea {
    color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 0.6em;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #222222;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #111111;
  }