img {
    filter: invert(100%);
}

body, div, section, button {
    background-color: #222222;
    color: #FFFFFF;
}

nav, footer, h3, .notes, .notesHeading, .notesTitleAndDate, #user, #usernameEdit, input, textarea {
    background-color: #000000;
}